<nav>
      <ul>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#products">PRODUCTS</a></li>
        <li><a href="#shop">SHOP</a></li>
        <li><a href="#gallery">GALLERY</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>

{% schema %}
  {
    "name": "Navigation",
    "settings": []
  }
{% endschema %}
