<footer>
      <p>&copy; 1980-2025 80's Obsession Company. All Rights Reserved.</p>
      <p><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">FAQ</a></p>
      <p style="font-family: var(--accent-font); margin-top: 10px; font-size: 0.9rem; color: var(--secondary-color);">MAKIN' THE WORLD A LITTLE MORE RADICAL SINCE '85</p>
    </footer>
