{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [],
  "blocks": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<header>
  <div class="logo-container">
    <img src="{{ '80\'s Obsession Company logo.png' | asset_url }}" alt="80's Obsession Company Logo">
  </div>
</header>
